{% extends 'admin.html.twig' %}

{% block body %}

    {% if podcasts|length > 0 %}

        <div class="container">

            <h2 class="text-center mb-3 titleH2">Audios</h2>

            <table class="table table-hover table-bordered text-center">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Título</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for podcast in podcasts %}
                    <tr>
                        <th scope="row">{{ podcast.id }}</th>
                        <td>{{ podcast.title }}</td>
                        <td>{{ podcast.user.email }}</td>
                        <td>

                            <a href="{{ path('podcast_edit', {'id':podcast.id}) }}" class=" btn btn-edit">
                                <button class="btn btn-primary botonp">
                                    Edit
                                </button>
                            </a>

                            <a href="{{ path('podcast_delete', {'id':podcast.id}) }}" class=" btn btn-delete">
                                <button class="btn btn-danger">
                                    Delete
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        <p class="text-center mt-3">No audios available yet</p>

    {% endif %}

{% endblock %}