

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ app.user ? path('podcasts') : path('home') }}">spotZone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">

                {% if app.user %}

                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'podcasts' %} active {% endif %}" href="{{ path('podcasts') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'my_podcasts' %} active {% endif %}" href="{{ path('my_podcasts') }}">My audios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'podcast_create' %} active {% endif %}" href="{{ path('podcast_create') }}">New Post</a>
                    </li>

                    <li class="nav-item d-block d-lg-none">
                        <div class="dropdown-divider"></div>
                    </li>

                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link" href="{{ path('user_edit', {'id':app.user.id}) }}">Edit User</a>
                    </li>
                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'login' %} active {% endif %}" href="{{ path('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.attributes.get('_route') == 'register' %} active {% endif %}" href="{{ path('register') }}">Register</a>
                    </li>

                {% endif %}

            </ul>

            {% if app.user %}

                <div class="dropdown my-2 mr-5 d-none d-lg-block">
                    <a class="btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="border rounded-pill" src='https://www.labicok.com/wp-content/uploads/2020/09/default-user-image.png' alt="profile image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('user_edit', {'id':app.user.id}) }}">Edit User</a>
                        <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
                    </div>
                </div>

            {% endif %}

        </div>
    </nav>


