@import "../../node_modules/bootstrap/scss/bootstrap";

@import "register.scss";
@import "navbar.scss";
@import "card.scss";

/* Navbar collapse correction */

.navbar-collapse.in {
    display: block !important;
}
.nav-link.active{

    border-radius: 10px;
    background-color: #18d118e0 ;
}

.collapse.in {
    display: block !important;
}

/* Navbar toggle */
.dropdown{
    width: 5%;
    @include media-breakpoint-down(lg) {
        width: 7.5%;
    }
}

.dropdown-toggle img{
    width: 100%;
}

/* No resize textarea */

textarea {
    height: 200px !important;
    resize:none;
}

/* Change text file form */

.custom-file-label::after {
    content: "Buscar" !important;
}

/* Center some elements */

.podcast-image{
    margin-left: 25%;
}

.alert{
    margin-left: 25%;
}

/* Audio */

audio{
    margin-left: 2.5%;
    width: 95%;
}
.botonp{
    background: #000000ad !important;
    border: none;
    margin: 10px;
}
body{
    background-image: url('https://image.freepik.com/vector-gratis/ondas-sonido-oscilante-luz-verde-oscuro_42077-2895.jpg');

    background-repeat: no-repeat;
    background-size: cover;
}
.welcomeText{
        position: absolute;
        top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    &__main{
        width: 60%;
        text-align: center;
        color: white;
        background-color: #0000008a;
        padding: 10px;
        border-radius: 10px;
        font-size: 22px;
    }
}
.welcome{
    display: flex;
    justify-content: center;
    &__h1{
        color: white;
        position: fixed;
        margin-top: 65px;
    }
}
.dropdown-toggle::after{
    color: white;
}

th{
    color: white;
}
td{
    color: white;
}
