.navbar-light .navbar-brand{
  color: white !important;

}
.bg-light{
  background-color: transparent !important;
  position: fixed;
  top: 0;
}
.nav-link{
  color: white !important;
}

.navbar-light .navbar-toggler-icon{
  background-color: white;
}