
#register_form{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.formDiv{
    width: 100%;
    border: #18d118e0 solid 1px;
    border-radius: 10px;
    margin-bottom: 2px;
    padding: 5px;

}
.form-control{
    border: #18d118e0 solid 1px !important;
    border-radius: 10px !important;
    margin-bottom: 2px !important;
}
.required{
    color: white;
}
.myForm{
    background-color: #ffffff52;
    border-radius: 10px;
    margin-top: 100px;
}
.loginLabel{
    color: white !important;
}
.titleH2{
    color: white;
    margin-top: 30px;
}
.nothing{
    color: white;
}