<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>


        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
    {{ include('includes/navbar.html.twig') }}
        {% block body %}
            <div class="welcome">
                <h1 class="text-center welcome__h1">Welcome to spotZone</h1>
            </div>

            <div class="welcomeText">
                <p class="welcomeText__main">With spotZone, it’s easy to find the right music or podcast for every moment – on your phone, your computer, your tablet and more.

                    There are millions of tracks and episodes on spotZone. So whether you’re behind the wheel, working out, partying or relaxing, the right music or podcast is always at your fingertips. Choose what you want to listen to, or let spotZone surprise you.

                    You can also browse through the collections of friends, artists, and celebrities, or create a radio station and just sit back.

                    Soundtrack your life with spotZone. Subscribe or listen for free.</p>
            </div>

        {% endblock %}
    </body>
</html>
