{% extends 'base.html.twig' %}

{% block title %}
    {% if edit is defined %}
        Editar podcast
    {% else %}
        Crear podcast
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center titleH2">
            {% if edit is defined %}
                Editar podcast
            {% else %}
                Crear podcast
            {% endif %}
        </h2>


        <form action="{{ edit is defined ? path('podcast_edit', {'id':podcast.id}) : path('podcast_create') }}" class="col-12 col-lg-8 offset-lg-2 myForm" method="POST" enctype="multipart/form-data">
            {{ form_widget(form) }}
            <div class="text-center">
                <input type="submit" class="btn btn-primary px-3 botonp" value="{{ edit is defined ? 'Editar' : 'Crear' }}">
            </div>
            {{ form_end(form) }}
    </div>

{% endblock %}
