{% extends 'base.html.twig' %}

{% block title %}My audios{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center titleH2">My Audios</h2>

        {{ include('includes/podcast-list.html.twig') }}
    </div>

{% endblock %}