{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container">

        <h2 class="text-center titleH2">All Audios</h2>

        {{ include('includes/podcast-list.html.twig') }}
    </div>

{% endblock %}