{% extends 'base.html.twig' %}

{% block title %}Login de usuarios{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center titleH2">Login</h2>

        <form action="{{ path('login') }}" class="col-12 col-lg-8 offset-lg-2 myForm" method="POST">
            <div class="form-group">
                <label class="loginLabel" for="username">Email</label>
                <input type="email" class="form-control" id="username" name="_username" placeholder="Email" value="{{ last_username }}" />
            </div>

            <div class="form-group">
                <label class="loginLabel" for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="_password" />
            </div>

            <div class="text-center">
                <input type="submit" class="btn btn-primary px-3 botonp" value="Login">
            </div>

        </form>

        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show w-50 mt-3" role="error">
                    <span>
                        Try again
                    </span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

    </div>

{% endblock %}