{% extends 'base.html.twig' %}

{% block title %}
    {% if edit is defined %}
        Edit user
    {% else %}
        Register
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="text-center titleH2">
            {% if edit is defined %}
                Edit user
            {% else %}
                Register
            {% endif %}
        </h2>

        <form action="{{ edit is defined ? path('user_edit', {'id':user.id}) : path('register') }}" class="col-12 col-lg-8 offset-lg-2 myForm" method="POST" enctype="multipart/form-data">
            {{ form_widget(form) }}
            <div class="text-center">
                <input type="submit" class="btn btn-primary px-3 botonp" value="{{ edit is defined ? 'Edit' : 'Register' }}">
            </div>
            {{ form_end(form) }}
        </form>
    </div>

{% endblock %}